*{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    background-color: #1e293b; 
    padding: 15px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 25px; 
}

.nav-bar a {
    text-decoration: none;
    color: #94a3b8;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid blue; 
}